@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Roboto+Mono:300&display=swap');

html,
body {
  background-color: black !important;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-thumb {
  background: #222222;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-corner {
  background: 0 0
}

