@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Roboto+Mono:300&display=swap');

$green: #13ff00;
$pink: #ff0062;
$red: #ff74b7;
$white: #fff;

$primary: $green;
$link: $pink;
$link-hover: $red;
$text: white;

$body-size: 11px;
$body-font-size: 11px;

//@import "~bulma/bulma";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/components/level";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/container";


.page-title {
  color: $green;
  font-family: 'Proza Libre', monospace;
}

.console {
  font-family: monospace;
  font-size: $body-font-size;
}

.console ::selection {
  color: black !important;
  background-color: white !important;
}

.console ::-moz-selection {
  color: black !important;
  background-color: white !important;
}

.cli {
  font-family: monospace;
  font-size: $body-font-size !important;
  white-space: pre-wrap;
}

.cmd-input {
  background-color: transparent;
  border: none;
  color: $white;
  outline: none;
  font-family: monospace;
  font-size: 12px;
  width: 100%;
}

.is-not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
